// GLOBALS
* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}

html {
	min-height: 100%;
	font-size: 100%;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 100%;
	background: $fair;
	color: $dark;

	/* Sticky Footer Solution */
	min-height: 100vh;

	/**
	* Making the <body> element behave like a flexbox container:
	*/

	/* Ye Olde Flexbox for Webkit */
	display: -webkit-box;
	/* Tweener flexbox */
	display: -ms-flexbox;
	/* Prefixed "new flexbox" */
	display: -webkit-flex;
	/* unprefixed standard "new flexbox" version */
	display: flex;

	/**
	* Making the things inside <body> line up vertically
	*/

	/* Your grandparents flexbox for Webkit */
	-webkit-box-orient: vertical;
	/* Prefixed new syntax: */
	-webkit-flex-direction: column;
	/* Same syntax for weird IE tweener */
	-ms-flex-direction: column;
	/* unprefixed new syntax */
	flex-direction: column;
}