// GLOBALS
* {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  @include vendor(box-sizing, border-box);
}

html {
	min-height: 100%;
	font-size: 100%;
}

body {
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 100%;
	background: $fair;
	color: $dark;

	/* Sticky Footer Solution */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}