// BREAKPOINTS
$break-1280: 1280px;
$break-1140: 1140px;
$break-1024: 1024px;
$break-568: 568px;
$break-640: 640px;
$break-768: 768px;
$break-728: 728px;
$break-480: 480px;
$break-320: 320px;

// FONTS
$default: "Helvetica Neue";

// FONT SIZES
$px20: 1.250em;
$px18: 1.125em;
$px16: 1em;
$px14: 0.875em;
$px12: 0.750em;
$px10: 0.625em;

// COLOR
$fair: #FFF;
$dark: #000;