<!doctype html>
<html class="no-js">

  <head>
    <meta charset="utf-8">
    <title>CLAYMORE // ABS-CBN DEV</title>

    <!-- START: META -->
    @@include('includes/meta.html')
    <!-- END: META -->
    
    <!-- START: STYLES -->
    @@include('includes/styles.html')
    <!-- END: STYLES -->
    
    <!-- START: SCRIPTS -->
    @@include('includes/scripts-top.html')
    <!-- START: SCRIPTS -->

  </head>

  <body>
    
    <!-- START: HEADER -->
    @@include('base/header.html')
    <!-- END: HEADER -->
    
    <!-- START: MAIN -->
    @@include('base/main.html')
    <!-- END: MAIN -->
    
    <!-- START: ASIDE -->
    @@include('partials/aside.html')
    <!-- END: ASIDE -->
  
    <!-- START: FOOTER -->
    @@include('base/footer.html')
    <!-- START: FOOTER -->
    
    <!-- START: SCRIPTS -->
    @@include('includes/scripts-bottom.html')
    <!-- START: SCRIPTS -->

  </body>

</html>
