@mixin font-face($font-family, $font, $weight : normal, $style : normal) {
    @font-face {
        font-family: $font-family;
        src: url('lib/font/#{$font}.eot');
        src: url('lib/font/#{$font}.eot?#iefix') format('embedded-opentype'),
             url('lib/font/#{$font}.woff') format('woff'),
             url('lib/font/#{$font}.ttf') format('truetype'),
             url('lib/font/#{$font}.svg##{$font-family}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin use-font($family: $default, $size: 100%, $style: normal, $variation: 100){
    font-family: $family, Helvetica, Arial, sans-serif;
    font-size: $size;
    font-style: $style;
    font-weight: $variation;
}