footer
	p Copyright &copy; 2016 Randell Quitain

script(src='assets/scripts/jquery-2.2.2.min.js')
script(src='assets/scripts/foundation.min.js')
script(src='assets/scripts/imagesloaded.pkgd.min.js')
script(src='assets/scripts/slick.min.js')
script(src='assets/scripts/main.min.js')