footer
	p Copyright &copy; 2016 ASH

script(src='assets/scripts/jquery-2.2.2.min.js')
script(src='assets/scripts/foundation.min.js')
script(src='assets/scripts/imagesloaded.pkgd.min.js')
script(src='assets/scripts/owl.carousel.min.js')
script(src='assets/scripts/main.min.js')