<meta charset="utf-8">
<title>@@title</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="@@description">

<!-- START: OPEN GRAPH -->
<meta name="og:title" content="@@title">
<meta name="og:type" content="@@og_type">
<meta name="og:image" content="@@og_image">
<meta name="og:url" content="@@og_url">
<meta name="og:site_name" content="@@og_site-name">
<meta name="og:description" content="@@description">
<!-- END: OPEN GRAPH -->

<!-- START: MOBILE VIEWPORT -->
<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- END: MOBILE VIEWPORT -->